@use '~sass-true' as test
@use './index' as mixin

// Input: width.
$width: 20px

// Input: height.
$height: 30px

// Input: background.
$background: linear-gradient(#fff, #000)

// Mixin to create the ellipse shape.
+test.describe('Ellipse mixin')
  +test.it('should create the ellipse with args')
    +test.assert
      +test.output
        +mixin.ellipse($width, $height, $background)
      +test.expect
        width: $width
        height: $height
        background: $background
        border-radius: 50%

  +test.it('should create the ellipse with default args')
    +test.assert
      +test.output
        +mixin.ellipse
      +test.expect
        border-radius: 50%

  +test.it('should create the ellipse with keyword args')
    +test.assert
      +test.output
        +mixin.ellipse($width: $width, $height: $height)
      +test.expect
        width: $width
        height: $height
        border-radius: 50%

  +test.it('should create the ellipse with complex size args')
    +test.assert
      +test.output
        +mixin.ellipse([$width, min $width], max $height * 2)
      +test.expect
        width: $width
        min-width: $width
        max-height: $height * 2
        border-radius: 50%

  +test.it('should create the ellipse with complex background arg')
    +test.assert
      +test.output
        +mixin.ellipse($width, $height, [$background, $background])
      +test.expect
        width: $width
        height: $height
        background: $background, $background
        border-radius: 50%
