# EditorConfig helps maintain consistent coding styles for multiple
# developers working on the project across various editors and IDEs.
# © EditorConfig <https://editorconfig.org>
root = true

[*]
# Character encoding.
charset = utf-8

# Line ending.
end_of_line = lf

# Indentation size.
indent_size = 2

# Indentation style.
indent_style = space

# End file with a newline.
insert_final_newline = true

# Max line length to wrap on.
max_line_length = 120

# Trim whitespace at the end of line.
trim_trailing_whitespace = true

[*.{md,json}]
# Not limited max line length.
max_line_length = off

# Do not end file with the newline.
insert_final_newline = false

# Whitespace is allowed at the end of line.
trim_trailing_whitespace = false
