# Opinionated code formatter which removes all original styling and
# ensures that all outputted code conforms to a consistent style by
# reprinting the parsed AST with its own rules.
# © Prettier <https://prettier.io>

# Consistent quotes.
quoteProps: consistent

# Single quotes for string.
singleQuote: true

# No commas on multi-line.
trailingComma: none

# Indent script and style.
vueIndentScriptAndStyle: true

# Framework within project.
pugFramework: vue

# Pug attributes single quote.
pugSingleQuote: false

# Pug wrap attribute threshold.
pugWrapAttributesThreshold: 1

# Pug closing bracket position.
pugClosingBracketPosition: 'last-line'

# Pug single file component indent.
pugSingleFileComponentIndentation: true

# Plugins to be used during formatting.
plugins:
  - ./common/temp/node_modules/@prettier/plugin-pug
