@use '~sass-true' as test;
@use './index' as mixin;

// Shorthand mixin for flex.
@include test.describe('Flex mixin') {
  @include test.it('should create flex properties with list') {
    @include test.assert {
      @include test.output {
        @include mixin.flex(column flex-end stretch nowrap);
      }

      @include test.expect {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: nowrap;
      }
    }
  }

  @include test.it('should create flex properties with params') {
    @include test.assert {
      @include test.output {
        @include mixin.flex(column, flex-end, stretch, nowrap);
      }

      @include test.expect {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: nowrap;
      }
    }
  }

  @include test.it('should create flex properties with named params') {
    @include test.assert {
      @include test.output {
        @include mixin.flex($justify: flex-end);
      }

      @include test.expect {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  @include test.it('should create flex properties with default params') {
    @include test.assert {
      @include test.output {
        @include mixin.flex;
      }

      @include test.expect {
        display: flex;
      }
    }
  }
}

@include test.describe('Inline Flex mixin') {
  @include test.it('should create flex properties with list') {
    @include test.assert {
      @include test.output {
        @include mixin.inline-flex(row flex-start flex-end nowrap);
      }

      @include test.expect {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
      }
    }
  }

  @include test.it('should create flex properties with params') {
    @include test.assert {
      @include test.output {
        @include mixin.inline-flex(row, flex-start, flex-end, nowrap);
      }

      @include test.expect {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;
        flex-wrap: nowrap;
      }
    }
  }

  @include test.it('should create flex properties with named params') {
    @include test.assert {
      @include test.output {
        @include mixin.inline-flex($justify: flex-end);
      }

      @include test.expect {
        display: inline-flex;
        justify-content: flex-end;
      }
    }
  }

  @include test.it('should create flex properties with default params') {
    @include test.assert {
      @include test.output {
        @include mixin.inline-flex;
      }

      @include test.expect {
        display: inline-flex;
      }
    }
  }
}
