@use '~@stylize/sass-func/list'

////
/// @group flex
/// @author Nojukubi
/// @source https://css-tricks.com/snippets/css/a-guide-to-flexbox
////

/// Shorthand mixin for flex.
/// @param {List} $props Flex Props.
/// @example
///   flex
///   flex(row)
///   flex(row center)
///   flex(row center stretch)
///   flex(row center stretch wrap)
///   flex(row center stretch wrap space-evenly)
=flex($props: [])

/// Shorthand mixin for flex.
/// @param {String} $direction [null] Direction.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   flex
///   flex(row)
///   flex(row, center)
///   flex(row, center, stretch)
///   flex(row, center, stretch, wrap)
///   flex(row, center, stretch, wrap, space-evenly)
///   flex($main: center, $cross: stretch, $wrap: nowrap)
=flex($direction: null, $main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($direction)
    +-flex-(flex, $direction, $main, $cross, $wrap, $content)
  @else
    +-flex-(flex, $direction...)

/// Shorthand mixin for flex row.
/// @param {List} $props Flex Props.
/// @example
///   flex-row
///   flex-row(center)
///   flex-row(center stretch)
///   flex-row(center stretch wrap)
///   flex-row(center stretch wrap space-evenly)
=flex-row($props: [])

/// Shorthand mixin for flex row.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   flex-row
///   flex-row(center)
///   flex-row(center, stretch)
///   flex-row(center, stretch, wrap)
///   flex-row(center, stretch, wrap, space-evenly)
///   flex-row($main: center, $cross: stretch, $wrap: nowrap)
=flex-row($main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($main)
    +-flex-(flex, row, $main, $cross, $wrap, $content)
  @else
    +-flex-(flex, row, $main...)

/// Shorthand mixin for flex row center.
/// @param {List} $props Flex Props.
/// @example
///   flex-row-center
///   flex-row-center(wrap)
///   flex-row-center(wrap space-evenly)
=flex-row-center($props: [])

/// Shorthand mixin for flex row center.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   flex-row-center
///   flex-row-center(wrap)
///   flex-row-center(wrap, space-evenly)
///   flex-row-center($wrap: wrap, $content: center)
=flex-row-center($wrap: null, $content: null)
  @if list.has-single($wrap)
    +-flex-(flex, row, center, center, $wrap, $content)
  @else
    +-flex-(flex, row, center, center, $wrap...)

/// Shorthand mixin for flex column.
/// @param {List} $props Flex Props.
/// @example
///   flex-col
///   flex-col(center)
///   flex-col(center stretch)
///   flex-col(center stretch wrap)
///   flex-col(center stretch wrap space-evenly)
=flex-col($props: [])

/// Shorthand mixin for flex column.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   flex-col
///   flex-col(center)
///   flex-col(center, stretch)
///   flex-col(center, stretch, wrap)
///   flex-col(center, stretch, wrap, space-evenly)
///   flex-col($main: center, $cross: stretch, $wrap: nowrap)
=flex-col($main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($main)
    +-flex-(flex, column, $main, $cross, $wrap, $content)
  @else
    +-flex-(flex, column, $main...)

/// Shorthand mixin for flex column center.
/// @param {List} $props Flex Props.
/// @example
///   flex-col-center
///   flex-col-center(wrap)
///   flex-col-center(wrap space-evenly)
=flex-col-center($props: [])

/// Shorthand mixin for flex column center.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   flex-col-center
///   flex-col-center(wrap)
///   flex-col-center(wrap, space-evenly)
///   flex-col-center($wrap: wrap, $content: center)
=flex-col-center($wrap: null, $content: null)
  @if list.has-single($wrap)
    +-flex-(flex, column, center, center, $wrap, $content)
  @else
    +-flex-(flex, column, center, center, $wrap...)

/// Shorthand mixin for inline-flex.
/// @param {List} $props Flex Props.
/// @example
///   inline-flex
///   inline-flex(row)
///   inline-flex(row center)
///   inline-flex(row center stretch)
///   inline-flex(row center stretch wrap)
///   inline-flex(row center stretch wrap space-evenly)
=inline-flex($props: [])

/// Shorthand mixin for inline-flex.
/// @param {String} $direction [null] Direction.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   inline-flex
///   inline-flex(row)
///   inline-flex(row, center)
///   inline-flex(row, center, stretch)
///   inline-flex(row, center, stretch, wrap)
///   inline-flex(row, center, stretch, wrap, space-evenly)
///   inline-flex($main: center, $cross: stretch, $wrap: nowrap)
=inline-flex($direction: null, $main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($direction)
    +-flex-(inline-flex, $direction, $main, $cross, $wrap, $content)
  @else
    +-flex-(inline-flex, $direction...)

/// Shorthand mixin for inline-flex row.
/// @param {List} $props Flex Props.
/// @example
///   inline-flex-row
///   inline-flex-row(center)
///   inline-flex-row(center stretch)
///   inline-flex-row(center stretch wrap)
///   inline-flex-row(center stretch wrap space-evenly)
=inline-flex-row($props: [])

/// Shorthand mixin for inline-flex row.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   inline-flex-row
///   inline-flex-row(center)
///   inline-flex-row(center, stretch)
///   inline-flex-row(center, stretch, wrap)
///   inline-flex-row(center, stretch, wrap, space-evenly)
///   inline-flex-row($main: center, $cross: stretch, $wrap: nowrap)
=inline-flex-row($main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($main)
    +-flex-(inline-flex, row, $main, $cross, $wrap, $content)
  @else
    +-flex-(inline-flex, row, $main...)

/// Shorthand mixin for inline-flex row center.
/// @param {List} $props Flex Props.
/// @example
///   inline-flex-row-center
///   inline-flex-row-center(wrap)
///   inline-flex-row-center(wrap space-evenly)
=inline-flex-row-center($props: [])

/// Shorthand mixin for inline-flex row center.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   inline-flex-row-center
///   inline-flex-row-center(wrap)
///   inline-flex-row-center(wrap, space-evenly)
///   inline-flex-row-center($wrap: wrap, $content: center)
=inline-flex-row-center($wrap: null, $content: null)
  @if list.has-single($wrap)
    +-flex-(inline-flex, row, center, center, $wrap, $content)
  @else
    +-flex-(inline-flex, row, center, center, $wrap...)

/// Shorthand mixin for inline-flex column.
/// @param {List} $props Flex Props.
/// @example
///   inline-flex-col
///   inline-flex-col(center)
///   inline-flex-col(center stretch)
///   inline-flex-col(center stretch wrap)
///   inline-flex-col(center stretch wrap space-evenly)
=inline-flex-col($props: [])

/// Shorthand mixin for inline-flex column.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   inline-flex-col
///   inline-flex-col(center)
///   inline-flex-col(center, stretch)
///   inline-flex-col(center, stretch, wrap)
///   inline-flex-col(center, stretch, wrap, space-evenly)
///   inline-flex-col($main: center, $cross: stretch, $wrap: nowrap)
=inline-flex-col($main: null, $cross: null, $wrap: null, $content: null)
  @if list.has-single($main)
    +-flex-(inline-flex, column, $main, $cross, $wrap, $content)
  @else
    +-flex-(inline-flex, column, $main...)

/// Shorthand mixin for inline-flex column center.
/// @param {List} $props Flex Props.
/// @example
///   inline-flex-col-center
///   inline-flex-col-center(wrap)
///   inline-flex-col-center(wrap space-evenly)
=inline-flex-col-center($props: [])

/// Shorthand mixin for inline-flex column center.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
/// @example
///   inline-flex-col-center
///   inline-flex-col-center(wrap)
///   inline-flex-col-center(wrap, space-evenly)
///   inline-flex-col-center($wrap: wrap, $content: center)
=inline-flex-col-center($wrap: null, $content: null)
  @if list.has-single($wrap)
    +-flex-(inline-flex, column, center, center, $wrap, $content)
  @else
    +-flex-(inline-flex, column, center, center, $wrap...)

/// Internal mixin to generate flex properties.
/// @param {String} $display Row or column (reverse).
/// @param {String} $direction [null] Direction.
/// @param {String} $main [null] Main Axis.
/// @param {String} $cross [null] Cross Axis.
/// @param {String} $wrap [null] Wrap Items.
/// @param {String} $content [null] Align Content.
=-flex-($display, $direction: null, $main: null, $cross: null, $wrap: null, $content: null)
  display: $display
  flex-direction: $direction
  justify-content: $main
  align-items: $cross
  flex-wrap: $wrap
  align-content: $content
