@use '~sass-true' as test;
@use './index' as mixin;

// Shorthand to define width and height.
@include test.describe('Size mixin') {
  @include test.it('should define width and height with list') {
    @include test.assert {
      @include test.output {
        @include mixin.size(1px 2px);
      }

      @include test.expect {
        width: 1px;
        height: 2px;
      }
    }
  }

  @include test.it('should define width and height with params') {
    @include test.assert {
      @include test.output {
        @include mixin.size(1px, 2px);
      }

      @include test.expect {
        width: 1px;
        height: 2px;
      }
    }
  }

  @include test.it('should define width and height with size param') {
    @include test.assert {
      @include test.output {
        @include mixin.size(1px);
      }

      @include test.expect {
        width: 1px;
        height: 1px;
      }
    }
  }
}

/// Shorthand to define min-width and min-height.
@include test.describe('Min size mixin') {
  @include test.it('should define width and height with list') {
    @include test.assert {
      @include test.output {
        @include mixin.min-size(1px 2px);
      }

      @include test.expect {
        min-width: 1px;
        min-height: 2px;
      }
    }
  }

  @include test.it('should define width and height with params') {
    @include test.assert {
      @include test.output {
        @include mixin.min-size(1px, 2px);
      }

      @include test.expect {
        min-width: 1px;
        min-height: 2px;
      }
    }
  }

  @include test.it('should define width and height with size param') {
    @include test.assert {
      @include test.output {
        @include mixin.min-size(1px);
      }

      @include test.expect {
        min-width: 1px;
        min-height: 1px;
      }
    }
  }
}

/// Shorthand to define max-width and max-height.
@include test.describe('Max size mixin') {
  @include test.it('should define width and height with list') {
    @include test.assert {
      @include test.output {
        @include mixin.max-size(1px 2px);
      }

      @include test.expect {
        max-width: 1px;
        max-height: 2px;
      }
    }
  }

  @include test.it('should define width and height with params') {
    @include test.assert {
      @include test.output {
        @include mixin.max-size(1px, 2px);
      }

      @include test.expect {
        max-width: 1px;
        max-height: 2px;
      }
    }
  }

  @include test.it('should define width and height with size param') {
    @include test.assert {
      @include test.output {
        @include mixin.max-size(1px);
      }

      @include test.expect {
        max-width: 1px;
        max-height: 1px;
      }
    }
  }
}
