@use '~sass-true' as *;
@use './index' as *;

// Shorthand mixin for absolute position.
@include describe('Absolute mixin') {
  // :: Case
  @include it('should define absolute position') {
    @include assert {
      // :: Output
      @include output {
        @include absolute(0, null, 0);
      }

      // :: Expect
      @include expect {
        position: absolute;
        top: 0;
        bottom: 0;
      }
    }
  }
}

// Shorthand mixin for fixed position.
@include describe('Fixed mixin') {
  // :: Case
  @include it('should define fixed position') {
    @include assert {
      // :: Output
      @include output {
        @include fixed(0, null, 0);
      }

      // :: Expect
      @include expect {
        position: fixed;
        top: 0;
        bottom: 0;
      }
    }
  }
}

// Shorthand mixin for relative position.
@include describe('Relative mixin') {
  // :: Case
  @include it('should define relative position') {
    @include assert {
      // :: Output
      @include output {
        @include relative(0, null, 0);
      }

      // :: Expect
      @include expect {
        position: relative;
        top: 0;
        bottom: 0;
      }
    }
  }
}

// Shorthand mixin for sticky position.
@include describe('Sticky mixin') {
  // :: Case
  @include it('should define sticky position') {
    @include assert {
      // :: Output
      @include output {
        @include sticky(0, null, 0);
      }

      // :: Expect
      @include expect {
        position: sticky;
        top: 0;
        bottom: 0;
      }
    }
  }
}
