@use '~sass-true' as test;
@use './index' as mixin;

// Shorthand mixin for ::before pseudo
@include test.describe('Before mixin') {
  @include test.it('should define before pseudo') {
    @include test.assert {
      @include test.output {
        .text {
          @include mixin.before('↺') {
            font-weight: normal;
          }
        }
      }

      @include test.expect {
        .text::before {
          content: '↺';
          font-weight: normal;
        }
      }
    }
  }
}

// Shorthand mixin for ::after pseudo
@include test.describe('After mixin') {
  @include test.it('should define after pseudo') {
    @include test.assert {
      @include test.output {
        .text {
          @include mixin.after('↺') {
            font-weight: normal;
          }
        }
      }

      @include test.expect {
        .text::after {
          content: '↺';
          font-weight: normal;
        }
      }
    }
  }
}
