@use '~sass-true' as test
@use './index' as mixin

// Expect: result.
=expect-result
  width: 0
  height: 0
  border-style: solid

// Mixin to create the triangle shape.
+test.describe('Triangle mixin')
  +test.it('should create the triangle with list')
    +test.assert
      +test.output
        +mixin.triangle(top-right #fff 4px 8px)
      +test.expect
        +expect-result
        border-color: transparent #fff transparent transparent
        border-width: 0 4px 8px 0

  +test.it('should create the triangle with args')
    +test.assert
      +test.output
        +mixin.triangle(top-right, #fff, 4px, 8px)
      +test.expect
        +expect-result
        border-color: transparent #fff transparent transparent
        border-width: 0 4px 8px 0

  +test.it('should create the triangle with keyword args')
    +test.assert
      +test.output
        +mixin.triangle($direction: bottom, $color: #fff, $width: 4px)
      +test.expect
        +expect-result
        border-color: #fff transparent transparent transparent
        border-width: 3.4641px 2px 0 2px

  +test.it('should create the equilateral side triangle')
    +test.assert
      +test.output
        +mixin.triangle(left, #fff, 4px)
      +test.expect
        +expect-result
        border-color: transparent #fff transparent transparent
        border-width: 2px 3.4641px 2px 0
