@use 'sass:list';

/// Shorthand mixin for flex
/// @require {mixin} _flexbox_
/// @param {List} $props - Flex Props
/// @group flex
/// @example
///   @include flex
///   @include flex(row)
///   @include flex(row center)
///   @include flex(row center stretch)
///   @include flex(row center stretch wrap)
@mixin flex($props: []) {
  @include _flexbox_(flex, $props);
}

/// Shorthand mixin for flex
/// @require {mixin} _flexbox_
/// @param {String} $direction [row] - Flex Direction
/// @param {String} $justify [null] - Justify Content
/// @param {String} $align [null] - Align Items
/// @param {String} $wrap [null] - Flex Wrap
/// @group flex
/// @example
///   @include flex
///   @include flex(row)
///   @include flex(row, center)
///   @include flex(row, center, stretch)
///   @include flex(row, center, stretch, wrap)
///   @include flex($justify: center, $align: stretch)
@mixin flex($direction: row, $justify: null, $align: null, $wrap: null) {
  @include _flexbox_(flex, $direction, $justify, $align, $wrap);
}

/// Shorthand mixin for inline-flex
/// @require {mixin} _flexbox_
/// @param {List} $props - Flex Props
/// @group flex
/// @example
///   @include inline-flex
///   @include inline-flex(row)
///   @include inline-flex(row center)
///   @include inline-flex(row center stretch)
///   @include inline-flex(row center stretch wrap)
@mixin inline-flex($props: []) {
  @include _flexbox_(inline-flex, $props);
}

/// Shorthand mixin for inline-flex
/// @require {mixin} _flexbox_
/// @param {String} $direction [row] - Flex Direction
/// @param {String} $justify [null] - Justify Content
/// @param {String} $align [null] - Align Items
/// @param {String} $wrap [null] - Flex Wrap
/// @group flex
/// @example
///   @include inline-flex
///   @include inline-flex(row)
///   @include inline-flex(row, center)
///   @include inline-flex(row, center, stretch)
///   @include inline-flex(row, center, stretch, wrap)
///   @include inline-flex($justify: center, $align: stretch)
@mixin inline-flex($direction: row, $justify: null, $align: null, $wrap: null) {
  @include _flexbox_(inline-flex, $direction, $justify, $align, $wrap);
}

/// Internal mixin to generate flex properties
/// @param {String} $display - Display
/// @param {String | List} $direction [row] - Direction or Props
/// @param {String} $justify [null] - Justify Content
/// @param {String} $align [null] - Align Items
/// @param {String} $wrap [null] - Flex Wrap
/// @access private
/// @group flex
@mixin _flexbox_($display, $direction: row, $justify: null, $align: null, $wrap: null) {
  @if (list.length($direction) > 1) {
    @include _flexbox_($display, $direction...);
  } @else {
    display: $display;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
  }
}
