@use '~@stylize/sass-func/font' as * with (
  $base-font: monospace
);

$color-0: #fff;
$color-5: #fafafa;
$color-10: #000;
$color-13: #8d8d8d;
$color-15: #dadada;
$color-20: #995eb5;
$color-25: #7b4b91;
$color-27: #5e366f;
$color-30: #f7941e;
$color-35: #f9af61;
$color-40: #f00f00;
$color-44: #b82014;

$arrow__size: 10px;
$arrow__color: $color-10;

$block__font: font(16px 1 100);
$block__color: $color-10;
$block__padding: 8px;
$block__filter: drop-shadow(0 0 5px $color-27);
$block__border-radius: 6px;
$block-lvl1__border: 1px solid $color-25;
$block-lvl1__background: $color-20;
$block-lvl1__box-shadow: 3px 3px 6px 3px inset $color-25;
$block-lvl2__margin: 3px;
$block-lvl2__border: 1px solid $color-10;
$block-lvl2__filter: drop-shadow(0 0 5px $color-27);
$block-lvl2__background: $color-30;
$block-lvl2__box-shadow: 7px 9px 16px 6px inset $color-35;

$code__font: font(14px 22px);
$code__margin: 8px 0 0 0;
$code__padding: 8px 0;
$code__background: $color-5;
$code-html__padding: 6px 14px;

$nums__font: font(14px, 18px);
$nums__color: $color-15;
$nums__margin: 2px 0;
$nums__border: 1px solid $color-15;
$nums__padding: 6px 14px;
$nums__min-width: 18px;
$nums-warn__color: $color-0;
$nums-warn__background: $color-44;

$copy__font: font(14px 1 100);
$copy__color: $color-13;
$copy__color--hover: $color-10;
$copy__padding: 8px;

$error__font: font(14px, 1.5);
$error__color: $color-0;
$error__padding: 8px;
$error__background: $color-44;

$label__font: font(12px, 1.2, normal);
$label__color: $color-10;
