@use '~@stylize/sass-func/list';
@use '~@stylize/sass-mixin/size' as s;

/// Mixin to create triangle with css border
/// @param {List} $props - Props
/// @author Nojukubi
/// @group triangle
/// @example
///   @include triangle(top #fff 5px 10px)
@mixin triangle($props: []) {
  // Autocomplete purpose.
}

/// Mixin to create triangle with css border
/// @param {String} $direction - Direction
/// @param {String} $color - Color
/// @param {Length} $width - Width
/// @param {Length} $height - Height
/// @author Nojukubi
/// @group triangle
/// @example
///   @include triangle(top, #fff, 5px, 10px)
@mixin triangle($direction, $color: #fff, $width: 10px, $height: 10px) {
  @include -triangle-($direction, $color, $width, $height);
}

/// Internal mixin to create triangle with css border
/// @ignore
@mixin -triangle-($direction, $color, $width, $height) {
  @if list.has-multiple($direction) {
    @include -triangle-($direction...);
  } @else {
    @include s.size(0);
    border-style: solid;

    @if $direction == 'top' {
      border-color: transparent transparent $color transparent;
      border-width: 0 ($width / 2) $height ($width / 2);
    } @else if $direction == 'bottom' {
      border-color: $color transparent transparent transparent;
      border-width: $height ($width / 2) 0 ($width / 2);
    } @else if $direction == 'right' {
      border-color: transparent transparent transparent $color;
      border-width: ($height / 2) 0 ($height / 2) $width;
    } @else if $direction == 'left' {
      border-color: transparent $color transparent transparent;
      border-width: ($height / 2) $width ($height / 2) 0;
    } @else if $direction == 'top-left' {
      border-color: $color transparent transparent transparent;
      border-width: $height $width 0 0;
    } @else if $direction == 'top-right' {
      border-color: transparent $color transparent transparent;
      border-width: 0 $width $height 0;
    } @else if $direction == 'bottom-left' {
      border-color: transparent transparent transparent $color;
      border-width: $height 0 0 $width;
    } @else if $direction == 'bottom-right' {
      border-color: transparent transparent $color transparent;
      border-width: 0 0 $height $width;
    }
  }
}
