@use '~@stylize/sass-func/list';
@use '~@stylize/sass-mixin/size' as mixin;

////
/// @group triangle
/// @author Nojukubi
////

/// Default triangle color.
/// @type Color
$color: #000 !default;

/// Default triangle width.
/// @type Length
$width: 10px !default;

/// Default triangle height.
/// @type Length
$height: 10px !default;

/// Mixin to create css triangle.
/// @param {List} $props - Triangle Props
/// @example
///   @include triangle(top #fff 5px 10px)
@mixin triangle($props: []) {
  // Autocomplete purpose.
}

/// Mixin to create css triangle.
/// @require $color - Default color
/// @require $width - Default width
/// @require $height - Default height
/// @param {String} $direction - Direction
/// @param {Color} $color - Color
/// @param {Length} $width - Width
/// @param {Length} $height - Height
/// @example
///   @include triangle(top, #fff, 5px, 10px)
@mixin triangle($direction, $color: $color, $width: $width, $height: $height) {
  @if list.has-multiple($direction) {
    @include triangle($direction...);
  } @else {
    @include mixin.size(0);
    border-style: solid;

    @if $direction == 'top' {
      border-color: transparent transparent $color transparent;
      border-width: 0 ($width / 2) $height ($width / 2);
    } @else if $direction == 'bottom' {
      border-color: $color transparent transparent transparent;
      border-width: $height ($width / 2) 0 ($width / 2);
    } @else if $direction == 'right' {
      border-color: transparent transparent transparent $color;
      border-width: ($height / 2) 0 ($height / 2) $width;
    } @else if $direction == 'left' {
      border-color: transparent $color transparent transparent;
      border-width: ($height / 2) $width ($height / 2) 0;
    } @else if $direction == 'top-left' {
      border-color: $color transparent transparent transparent;
      border-width: $height $width 0 0;
    } @else if $direction == 'top-right' {
      border-color: transparent $color transparent transparent;
      border-width: 0 $width $height 0;
    } @else if $direction == 'bottom-left' {
      border-color: transparent transparent transparent $color;
      border-width: $height 0 0 $width;
    } @else if $direction == 'bottom-right' {
      border-color: transparent transparent $color transparent;
      border-width: 0 0 $height $width;
    } @else {
      @error 'Direction `#{$direction}` is not supported';
    }
  }
}
