@use '~sass-true' as test;
@use './index' as mixin with (
  $color: #4f4,
  $width: 2px,
  $height: 4px
);

/// Mixin to create css triangle.
@include test.describe('Triangle mixin') {
  @include test.it('should create css triangle with list') {
    @include test.assert {
      @include test.output {
        @include mixin.triangle(top #fff 4px 8px);
      }

      @include test.expect {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent #fff transparent;
        border-width: 0 2px 8px 2px;
      }
    }

    @include test.it('should create css triangle with params') {
      @include test.assert {
        @include test.output {
          @include mixin.triangle(top-right, #fff, 4px, 8px);
        }

        @include test.expect {
          width: 0;
          height: 0;
          border-style: solid;
          border-color: transparent #fff transparent transparent;
          border-width: 0 4px 8px 0;
        }
      }
    }
  }

  @include test.it('should create css triangle with named params') {
    @include test.assert {
      @include test.output {
        @include mixin.triangle($direction: bottom, $color: #fff, $width: 4px, $height: 8px);
      }

      @include test.expect {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: #fff transparent transparent transparent;
        border-width: 8px 2px 0 2px;
      }
    }
  }

  @include test.it('should create css triangle with default params') {
    @include test.assert {
      @include test.output {
        @include mixin.triangle(bottom-left);
      }

      @include test.expect {
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent transparent transparent #4f4;
        border-width: 4px 0 0 2px;
      }
    }
  }
}
